.advantage {
  margin: 0;
  padding: 0;
  background-image: url("/source/images/advantage-panel-left.svg");
  background-image: url("/source/images//advantage-panel-right.svg");
}

.advantage__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantage__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .advantage__list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
}

