.catalog-countainer {
  margin: 0;
  padding: 39px 0;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .catalog-countainer {
    width: 768px;
    margin: 0;
    padding: 67px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-countainer {
    width: 1200px;
    margin: 0;
    padding: 100px 0;
    padding-bottom: 88px;
  }
}

.catalog-countainer__title {
  color: #000000;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0 60px;
}

@media (min-width: $tablet-width) {
  .catalog-countainer__title {
    font-size: 30px;
    line-height: 26px;
    margin: 0 120px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-countainer__title {
    margin: 0 365px;
    padding: 0;
  }
}

.catalog-countainer__text {
  color: #333333;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 26px;
  padding: 0 23px;
}

@media (min-width: $tablet-width) {
  .catalog-countainer__text {
    font-size: 14px;
    line-height: 21px;
    margin: 0 170px;
    margin-top: 32px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-countainer__text {
    margin: 0 387px;
    margin-top: 31px;
    padding: 0;
  }
}
