.description {
  margin: 0;
  padding: 35px 25px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .description {
    margin: 0;
    padding: 49px 127px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    margin: 0;
    padding: 60px 250px;
    padding-bottom: 44px;
  }
}

.description__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .description__title {
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .description__title {
    font-size: 21px;
    line-height: 26px;
    margin: 0 85px;
  }
}

.description__text {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .description__text {
    margin: 0;
    margin-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .description__text {
    font-size: 14px;
    line-height: 21px;
  }
}
