.footer-copyright {
  display: flex;
  width: 140px;
  margin: 0 90px;
  margin-bottom: 23px;
  padding: 0;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .footer-copyright {
    margin: 45px 0;
    margin-bottom: 40px;
    margin-left: 71px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer-copyright {
    width: 237px;
    margin: 44px 0;
    margin-left: 224px;
    padding: 0;
  }
}

.footer-copyright__text {
  display: flex;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 6px 5px;
  margin-right: 12px;
}

.footer-copyright__text:hover {
  color: #81b3d2;
}

.footer-copyright__text:active {
  color: #b3b3b3;
}


.footer-copyright__image {
  margin: 0;
  padding: 0;
  fill: #000000;
}

.footer-copyright__image:hover {
  fill: #81b3d2;
  color: #81b3d2;
}

.footer-copyright__image:active {
  fill: #b3b3b3;
}
