.information {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .information {
    display: flex;
    flex-wrap: wrap;
    width: 748px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    width: 1200px;
  }
}
