.location {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .location {
    width: 768px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .location {
    width: 1200px;
  }
}

.location__map {
  display: block;
  border: none;
  width: 320px;
  height: 350px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .location__map {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .location__map {
    width: 1200px;
  }
}
