.location {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .location {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .location {
    width: 1200px;
  }
}

.location__map {
  display: block;
  border: none;
  width: 320px;
  height: 350px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .location__map {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .location__map {
    width: 1200px;
  }
}

.location__button {
  position: absolute;
  top: 155px;
  left: 135px;
  padding: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.location__button::before {
  display: flex;
  padding: 10px;
  border-radius: 50%;
  background-color: #81b3d3;
  content: "";
}

@media (min-width: $tablet-width) {
  .location__button {
    position: absolute;
    top: 160px;
    left: 370px;
  }
}

@media (min-width: $desktop-width) {
  .location__button {
    position: absolute;
    top: 160px;
    left: 600px;
  }
}
