.main-title {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #000000;
  background-image: url("../images/main-panel.svg"), url("../images/main-image.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
}

.main-title__image {
  display: block;
  margin: 90px auto;
  margin-bottom: 85px;
  padding: 0;
}

.main-title__page-image {
  display: block;
  margin: 96px auto;
  margin-bottom: 67px;
  padding: 0;
}
