.main-toggle {
  margin: 0;
  padding: 0;
  width: 22.9px;
  height: 22px;
  background-color: transparent;
  position: absolute;
  top: 17px;
  right: 20px;
  border: 0;
}

@media (min-width: $tablet-width) {
  .main-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-toggle {
    display: none;
  }
}
