.main-footer {
  width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    display: flex;
    width: 1200px;
  }
}
