.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav--open .main-nav__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav--open .main-nav__logo {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--open .main-nav__logo {
    display: inline;
  }
}

.main-nav--close .main-nav__logo {
  display: block;
  margin: 0 auto;
  height: 56px;
  padding: 0;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 292px;
    width: 185px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 507px;
    width: 185px;
    margin: 0;
    padding: 0;
  }
}

.main-nav__logo-image {
  display: block;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-image {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-image {
    margin: 0;
  }
}

.main-nav__toggle {
  z-index: 1;
}

.main-nav--close .main-nav__toggle {
  margin: 0;
  padding: 0;
  width: 22.9px;
  height: 22px;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 20px;
  border: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--open .main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
}

.main-nav--close .main-nav__toggle::before,
.main-nav--close .main-nav__toggle::after {
  display: none;
}

.main-nav--open .main-nav__toggle::before,
.main-nav--open .main-nav__toggle::after {
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  content: "";
}

@media (min-width: $tablet-width) {
  .main-nav--open .main-nav__toggle::before,
  .main-nav--open .main-nav__toggle::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--open .main-nav__toggle::before,
  .main-nav--open .main-nav__toggle::after {
    display: none;
  }
}

.main-nav--open .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--open .main-nav__toggle::after {
  transform: rotate(-45deg);
}


.main-nav--close .main-nav__list {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav--close .main-nav__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--close .main-nav__list {
    display: flex;
  }
}

.main-nav--open .main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__list {
  position: absolute;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    width: 153px;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item:nth-child(2) {
    margin-right: 156px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item:nth-child(2) {
    margin-right: 240px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    width: 240px;
    border: none;
  }
}

.main-nav__item-link--current {
  margin: 0;
  padding: 14px 60px;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav__item-link--current {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 18px 0;
    background-color: #ffffff;
    color: #766357;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item-link--current {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    width: 240px;
    padding: 18px 0;
    background-color: #ffffff;
    color: #766357;
  }
}

.main-nav__item-link {
  margin: 0;
  padding: 15px 90px;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav__item-link {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 18px 0;
    background-color: #ffffff;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item-link {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 18px 0;
    background-color: #ffffff;
    color: #000000;
  }
}
