.page-container {
  width: 320px;
  margin: auto;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

@media (min-width: $tablet-width) {
  .page-container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-container {
    width: 1200px;
  }
}
