.page-container {
  width: 320px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .page-container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-container {
    width: 1280px;
  }
}
