.photo-gallery {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 26px 0;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .photo-gallery {
    width: 768px;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery {
    width: 1200px;
    padding: 0;
  }
}

.photo-gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .photo-gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.photo-gallery__list .photo-gallery__item--current {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 20px;
  padding-top: 24px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__list .photo-gallery__item--current {
    display: block;
    width: 698px;
    margin: 0;
    padding: 0 61px;
    padding-top: 13px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__list .photo-gallery__item--current {
    width: 1200px;
    border: none;
    margin: 0;
    margin-bottom: -2px;
    padding: 0;
  }
}

.photo-gallery__item {
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  margin-top: 24px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__item {
    width: 324px;
    margin: 0;
    padding: 0;
    border: none;
  }

  .photo-gallery__item:nth-child(even) {
    padding-left: 61px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__item {
    width: 400px;
    margin: 0;
    border: none;
  }

  .photo-gallery__item:nth-child(even) {
    padding: 0;
  }
}

.photo-gallery__item:nth-child(1) {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .photo-gallery__item::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__item::before {
    display: none;
  }
}

.photo-gallery__link {
  display: flex;
  text-decoration: none;
}

.photo-gallery__image {
  width: 280px;
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .photo-gallery__image {
    width: 324px;
    height: 267px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__image {
    width: 400px;
    height: 267px;
  }
}

.photo-gallery__link .photo-gallery__image--current {
  width: 280px;
  background-color: #ffffff;
  color: #000000;
}


@media (min-width: $tablet-width) {
  .photo-gallery__link .photo-gallery__image--current {
    width: 648px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__link .photo-gallery__image--current {
    width: 1200px;
    height: 400px;
  }
}

.photo-gallery__countainer {
  position: relative;
  margin: 0;
  padding: 24px 0;
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__countainer {
    padding: 14px 0;
    padding-top: 18px;
    position: relative;
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__countainer {
    margin-top: -104px;
    padding: 14px 0;
    padding-top: 18px;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__countainer::before {
    position: absolute;
    top: 20px;
    left: 0;
    width: 400px;
    height: 80px;
    background-color: #000000;
    opacity: 0.3;
    content: "";
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__countainer--current::before {
    position: absolute;
    top: 20px;
    left: 0;
    width: 1200px;
    height: 80px;
    background-color: #000000;
    opacity: 0.3;
    content: "";
  }
}

.photo-gallery__title {
  display: block;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .photo-gallery__title {
    margin: 0;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__title {
    margin: 22px 0;
    margin-bottom: 0;
    margin-left: 23px;
    color: #ffffff;
  }
}

.photo-gallery__text {
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .photo-gallery__text {
    margin: 2px 0;
    margin-bottom: 0;
    margin-left: 19px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__text {
    margin: 4px 0;
    margin-bottom: 0;
    margin-left: 23px;
    color: #ffffff;
  }
}

.photo-gallery__like {
  display: flex;
}

@media (min-width: $tablet-width) {
  .photo-gallery__like {
    position: absolute;
    bottom: 27px;
    right: 15px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__like {
    position: absolute;
    bottom: 25px;
    right: 15px;
  }
}

.photo-gallery__link-like {
  display: block;
  text-decoration: none;
  margin: 0;
  margin-top: 11px;
  margin-right: 14px;
  width: 23px;
  height: 21px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__link-like {
    margin-right: 9px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__link-like {
    margin-right: 9px;
  }
}

.photo-gallery__image-like {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .photo-gallery__image-like {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__image-like {
    fill: #ffffff;
    opacity: initial;
  }
}

.photo-gallery__link-number {
  display: block;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  margin-top: 17px;
}

.photo-gallery__like-number {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .photo-gallery__like-number {
    margin-right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__like-number {
    margin-right: 5px;
    color: #ffffff;
  }
}
