.search__link {
  display: block;
  margin: 32px 18px;
  margin-bottom: 49px;
  padding: 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
