.sent-container {
  display: flex;
  width: 320px;
  flex-direction: column;
  margin: auto;
  margin-top: 166px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

@media (min-width: $tablet-width) {
  .sent-container {
    width: 640px;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .sent-container {
    width: 640px;
    margin: auto;
  }
}

.sent-container__title {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 52px;
  margin-top: 39px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .sent-container__title {
    font-size: 30px;
    margin-top: 79px;
  }
}

@media (min-width: $desktop-width) {
  .sent-container__title {
    margin-top: 32px;
  }
}

.sent-container__text {
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 52px;
  margin-top: 24px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .sent-container__text {
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .sent-container__text {
    margin-top: 34px;
  }
}

.sent-container__close {
  display: flex;
  margin: 0;
  margin-top: 52px;
  padding: 20px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .sent-container__close {
    padding: 45px;
    margin-top: 51px;
  }
}

.sent-container__link {
  color: #ffffff;
  background-color: #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 16px 76px;
  margin: 0;
}

.sent-container__link:hover {
  background-color: #669ec0;
}

.sent-container__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.sent-container__link:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .sent-container__link {
    font-size: 21px;
    padding: 16px 155px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .sent-container__link {
    padding: 16px 155px;
    margin: 0 auto;
  }
}
