.service-item {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .service-item {
    width: 256px;
    margin: 0;
    padding: 0;
    padding-top: 130px;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .service-item {
    width: 400px;
    margin: 0;
    padding: 0;
    padding-top: 160px;
    padding-bottom: 70px;
  }
}

.service-item--hotel {
  background-image: url("/source/images/service-house.svg");
}

.servuce-item--food {
  background-image: url("/source/images/service-burger.svg");
}

.service-item--souvenir {
  background-image: url("/source/images/service-souvenir.svg");
}

.service-item__title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
  margin-left: 62px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .service-item__title {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .service-item__title {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.service-item__text {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
  margin-left: 62px;
}

@media (min-width: $tablet-width) {
  .service-item__text {
    text-align: center;
    margin: 0 32px;
    margin-top: 25px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .service-item__text {
    text-align: center;
    margin: 0 40px;
    margin-top: 25px;
    padding: 0;
  }
}
