.service-item {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .service-item {
    width: 256px;
    margin: 0;
    padding: 0;
    padding-top: 130px;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .service-item {
    width: 400px;
    margin: 0;
    padding: 0;
    padding-top: 160px;
    padding-bottom: 70px;
  }
}

.service-item--hotel {
  background-image: url("../images/service-house.svg");
  background-repeat: no-repeat;
  background-position: 18px 25px;
  background-size: 40px;
  padding: 10px 12px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .service-item--hotel {
    background-image: url("../images/service-house.svg");
    background-repeat: no-repeat;
    background-position: 89px 61px;
    background-size: 78px;
    padding: 158px 0;
    padding-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .service-item--hotel {
    background-image: url("../images/service-house.svg");
    background-repeat: no-repeat;
    background-position: 160px 72px;
    background-size: 79px;
    padding: 170px 0;
    padding-bottom: 67px;
  }
}

.service-item--food {
  background-image: url("../images/service-burger.svg");
  background-repeat: no-repeat;
  background-position: 18px 15px;
  background-size: 40px;
  padding: 2px 12px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .service-item--food {
    background-image: url("../images/service-burger.svg");
    background-repeat: no-repeat;
    background-position: 90px 58px;
    background-size: 78px;
    padding: 156px 0;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .service-item--food {
    background-image: url("../images/service-burger.svg");
    background-repeat: no-repeat;
    background-position: 160px 72px;
    background-size: 79px;
    padding: 170px 0;
    padding-bottom: 67px;
  }
}

.service-item--souvenir {
  background-image: url("../images/service-souvenir.svg");
  background-repeat: no-repeat;
  background-position: 20px 25px;
  background-size: 36px;
  padding: 8px 12px;
  padding-bottom: 45px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .service-item--souvenir {
    background-image: url("../images/service-souvenir.svg");
    background-repeat: no-repeat;
    background-position: 95px 65px;
    background-size: 74px;
    padding: 153px 0;
    padding-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .service-item--souvenir {
    background-image: url("../images/service-souvenir.svg");
    background-repeat: no-repeat;
    background-position: 160px 72px;
    background-size: 79px;
    padding: 170px 0;
    padding-bottom: 67px;
  }
}

.service-item__title {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  margin-left: 54px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .service-item__title {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .service-item__title {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.service-item__text {
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
  margin-left: 54px;
}

@media (min-width: $tablet-width) {
  .service-item__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0 38px;
    margin-top: 25px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .service-item__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0 58px;
    margin-top: 25px;
    padding: 0;
  }
}
