.social {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 60px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .social {
    width: 490px;
    display: flex;
    flex-direction: initial;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 707px;
    flex-direction: initial;
    margin: 0;
    padding: 0;
  }
}

.social__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .social__link {
    margin: 51px 97px;
    margin-left: 62px;
  }
}

@media (min-width: $desktop-width) {
  .social__link {
    margin: 50px 254px;
    margin-left: 119px;
  }
}

.social__title {
  display: block;
  color: #000000;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
