.social-item {
  margin: 0;
  padding: 0;
}

.social-item__social-vkontakte {
  display: block;
  width: 48px;
  margin: 0;
  margin-right: 6px;
}

.social-item__social-telegram {
  display: block;
  width: 48px;
  margin: 0;
  margin-right: 6px;
}

.social-item__social-youtube {
  display: block;
  width: 48px;
  margin: 0;
}

