.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  margin: 32px 2px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 37px -4px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    margin: 37px -4px;
  }
}


.social-list__item {
  display: block;
  margin: 0;
  padding: 0;
}

.social-list__link {
  margin: 0;
  margin-right: 6px;
}

.social_list__image {
  background-color: #81b3d2;
  fill: #ffffff;
}

.social_list__image:hover {
  background-color: #669ec0;
}

.social_list__image:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}
