.video-block {
  margin: 0;
  padding: 0 20px;
  padding-top: 38px;
  background-image: url("../images/image-play.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .video-block {
    width: 648px;
    padding: 40px 60px;
    padding-top: 66px;
  }
}

@media (min-width: $desktop-width) {
  .video-block {
    width: 800px;
    padding: 120px 200px;
    padding-top: 64px;
  }
}

.video-block__button {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .video-block__button {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .video-block__button {
    width: 800px;
  }
}

.video-block__play {
  display: block;
  position: absolute;
  top: 60px;
  left: 120px;
  width: 48px;
  height: 54px;
  fill: #ffffff;
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .video-block__play {
    top: 175px;
    left: 290px;
  }
}

@media (min-width: $desktop-width) {
  .video-block__play {
    top: 225px;
    left: 375px;
  }
}

.video-block__video {
  display: block;
  width: 280px;
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .video-block__video {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .video-block__video {
    width: 800px;
  }
}
